.tarjeta{
    width: 17%;
    margin: 15px 10px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.36);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.36);
    img{
        width: 100%;
        display: block;
    }
    p{
        padding: 5px;
        text-align: center;
        font-size: $small;
    }
    button{
        width: 99%;
        margin-bottom: 3px;
    }
}